In [27]:
import numpy              as        np
import pandas             as        pd
import matplotlib.pyplot  as        plt
from   scipy.stats        import    chi2_contingency
from   scipy.stats        import    ttest_1samp

In [2]:
df = pd.DataFrame({'Promoted': [15, 16], 'Not-promoted': [9, 15]}, index = ['Company A', 'Company B'])

In [18]:
newdf = pd.DataFrame({'High School': [60,40], 'Bachelors': [54,44],'Masters': [46,53],'Ph.d.': [41,57]}, index = ['Female', 'Male'])
newdf

        High School  Bachelors  Masters  Ph.d.
Female           60         54       46     41
Male             40         44       53     57

In [3]:
df

           Promoted  Not-promoted
Company A        15             9
Company B        16            15

## Step 1: Define null and alternative hypotheses

H0: Promotions are dependent on Company type
H1: Promotions are independent of Company type

## Step 2: Decide the significance level

Here we select Î±= 0.05 as per 95% Confidence Level requirement in the question.

## Step 3: Identify the test statistic

This is a Chi-sq Test where categorical data has been reported in raw frequencies

## Step 4: Calculate the p - value and test statistic

In [19]:
chi2, pval, dof, exp_freq = chi2_contingency(df, correction = False)

In [23]:
chi2, pval, dof, exp_freq = chi2_contingency(newdf, correction = False)
chi2

8.006066246262538

In [8]:
print(chi2, pval, dof, exp_freq)
pval

0.6519088189386055 0.41943105261448455 1 [[13.52727273 10.47272727]
 [17.47272727 13.52727273]]

0.41943105261448455

## Step 5:  Decide to reject or accept null hypothesis

Since the pvalue is > 0.05, therefore, at 95% confidence we fail to reject the null hypothesis which implies the management is not biased in favor of employees originally belonging to company A.

In [51]:
df=pd.read_excel("Trough.xlsx")
df.head()

   Width
0  8.312
1  8.343
2  8.317
3  8.383
4  8.348

In [39]:
df.Width.mean()

8.420897959183673

In [55]:
t_statistic, p_value = ttest_1samp(df, (8.31+8.61)/2)
t_statistic
print('One sample t test \nt statistic: {0} p value: {1} '.format(t_statistic, p_value))

One sample t test
t statistic: [-5.93552959] p value: [3.14485846e-07]

In [ ]:
xbar=9450
std=250

In [53]:
(8.31+8.61)/2

8.46