In [3]:
import numpy as np 
import pandas as pd 
import re # this is the regular expression library which helps us manipulate text (strings) fairly easily and intuitively
import nltk # this is the Natural Language Tool Kit which contains a lot of functionalities for text analytics
import matplotlib.pyplot as plt
import string # this is used for string manipulations
import matplotlib

#nltk.download('stopwords')
#nltk.download('punkt')

In [4]:
x= "This is a Text Analysis Case Study"

In [9]:
print(x.split())
word=x.split()

['This', 'is', 'a', 'Text', 'Analysis', 'Case', 'Study']

In [11]:
len(word)

7

In [12]:
len(word[0])

4

In [13]:
" ".join(x.split())

'This is a Text Analysis Case Study'

In [15]:
y=pd.DataFrame({"Text":"@GreatLearners - https://gl.in in 2022 all the airlines had to shut their operations due to Covid19"}, index={0})
y

                                                Text
0  @GreatLearners - https://gl.in in 2022 all the...

In [18]:
y['Text'][0]

'@GreatLearners - https://gl.in in 2022 all the airlines had to shut their operations due to Covid19'

In [21]:
from nltk import corpus
from nltk.corpus import stopwords

In [41]:
stop = stopwords.words("english")
stop1=stopwords.words("english")

In [42]:
print(stop)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [43]:
print(stop1)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [44]:
stop1.sort()
print(stop1)

['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', 'her', 'here', 'hers', 'herself', 'him', 'himself', 'his', 'how', 'i', 'if', 'in', 'into', 'is', 'isn', "isn't", 'it', "it's", 'its', 'itself', 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she's", 'should', "should've", 'shouldn', "shouldn't", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', 'were', 'weren', "weren't", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", "you're", "you've", 'your', 'yours', 'yourself', 'yourselves']

In [51]:
y['stopwords'] = y['Text'].apply(lambda x : len([x for x in x.split() if x in stop]))

In [52]:
y

                                                Text  stopwords
0  @GreatLearners - https://gl.in in 2022 all the...          7

In [55]:
y['stopwords@'] = y['Text'].apply(lambda x : len([x for x in x.split() if x.startswith('@')]))

In [56]:
y

                                                Text  stopwords  stopwords@
0  @GreatLearners - https://gl.in in 2022 all the...          7           1

In [58]:
y['stopwordssum'] = y['Text'].apply(lambda x : len([x for x in x.split() if x.isdigit()]))
y

,Text,stopwords,stopwords@,stopwordssum
0,@GreatLearners - https://gl.in in 2022 all the...,7,1,1

In [63]:
y['processed'] = y['Text'].apply(lambda x :" ".join(x for x in x.split()))
y

,Text,stopwords,stopwords@,stopwordssum,processed
0,@GreatLearners - https://gl.in in 2022 all the...,7,1,1,@GreatLearners - https://gl.in in 2022 all the...

In [69]:
y['processed_cleaned'] = y['processed'].str.replace('[^a-zA-Z\s]',"")
y

<ipython-input-69-aed376597371>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  y['processed_cleaned'] = y['processed'].str.replace('[^a-zA-Z\s]',"")

,Text,stopwords,stopwords@,stopwordssum,processed,processed_cleaned
0,@GreatLearners - https://gl.in in 2022 all the...,7,1,1,@greatlearners - https://gl.in in 2022 all the...,greatlearners httpsglin in all the airlines ...

In [70]:
y['processed']=y["Text"].apply(lambda x: " ".join(x.lower() for x in x.split()))
y

,Text,stopwords,stopwords@,stopwordssum,processed,processed_cleaned
0,@GreatLearners - https://gl.in in 2022 all the...,7,1,1,@greatlearners - https://gl.in in 2022 all the...,greatlearners httpsglin in all the airlines ...

In [76]:

y['processedclndstopw']=y['processedcleaned'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
y

,Text,stopwords,stopwords@,stopwordssum,processed,processed_cleaned,processedcleaned,processedclndstopw
0,@GreatLearners - https://gl.in in 2022 all the...,7,1,1,@greatlearners - https://gl.in in 2022 all the...,greatlearners httpsglin in all the airlines ...,greatlearners httpsglin in all the airlines ...,greatlearners httpsglin airlines shut operatio...

In [77]:
from nltk.stem import PorterStemmer
st=PorterStemmer()
y['processedclndstopwstem']=y['processedclndstopw'].apply(lambda x: " ".join(st.stem(x) for x in x.split()))
y

,Text,stopwords,stopwords@,stopwordssum,processed,processed_cleaned,processedcleaned,processedclndstopw,processedclndstopwstem
0,@GreatLearners - https://gl.in in 2022 all the...,7,1,1,@greatlearners - https://gl.in in 2022 all the...,greatlearners httpsglin in all the airlines ...,greatlearners httpsglin in all the airlines ...,greatlearners httpsglin airlines shut operatio...,greatlearn httpsglin airlin shut oper due covid