# Background of the case
During the year 2018, the Canadian Goverment received an appeal that prisioners were being wrongfully convicted and the issue gained mass amounts of traction. Thus, the government appointed a team to look into the issue by conducting lie detector tests on 1372 prisoners across various states and provinces of the country. The team has done the basic checks and accordingly given the Variance, Skewness, Kurtosis and Entropy of the Responses obtained by the lie detector test. These are predictors for the Dependent Variable which states whether the response being considered belongs to a liar or not a liar. (These variables are to be treated as Independent Variables only, and no variance, skewness, kurtosis, entropy needs to be calculated for the analysis.)

Data Dictionary
The dataset consists of the following variables:

X1 : Prisoner ID
X2 : Variance of responses obtained.
X3 : Skewness of responses obtained.
X4 : Kurtosis of responses obtained.
X5 : Entropy of responses.
X6 : Class of person, 0 means the person is not a liar, and 1 means that the person is a liar.

In [45]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

# importing ploting libraries
import matplotlib.pyplot as plt   

#importing seaborn for statistical plots
import seaborn as sns

#Let us break the X and y dataframes into training set and test set. For this we will use
#Sklearn package's data splitting function which is based on random function

from sklearn.model_selection import train_test_split

import numpy as np


# calculate accuracy measures and confusion matrix
from sklearn import metrics

# !pip install imblearn

# To enable plotting graphs in Jupyter notebook
%matplotlib inline

In [46]:
df=pd.read_csv("liedetector.csv")
df.head()

      X1      X2      X3      X4       X5  X6
0  P_001  3.6216  8.6661 -2.8073 -0.44699   0
1  P_002  4.5459  8.1674 -2.4586 -1.46210   0
2  P_003  3.8660 -2.6383  1.9242  0.10645   0
3  P_004  3.4566  9.5228 -4.0112 -3.59440   0
4  P_005  0.2323 -4.4552  4.5718 -0.98880   0

In [47]:
col_list=['Prisoner ID',
          'Variance of responses obtained',
          'Skewness of responses obtained',
          'Kurtosis of responses obtained',
          'Entropy of responses',
          'Class of person']
          ##0 means the person is not a liar, and 1 means that the person is a liar.
col_list

['Prisoner ID',
 'Variance of responses obtained',
 'Skewness of responses obtained',
 'Kurtosis of responses obtained',
 'Entropy of responses',
 'Class of person']

In [48]:
df.columns=col_list
df.head()

,Prisoner ID,Variance of responses obtained,Skewness of responses obtained,Kurtosis of responses obtained,Entropy of responses,Class of person
0,P_001,3.6216,8.6661,-2.8073,-0.44699,0
1,P_002,4.5459,8.1674,-2.4586,-1.46210,0
2,P_003,3.8660,-2.6383,1.9242,0.10645,0
3,P_004,3.4566,9.5228,-4.0112,-3.59440,0
4,P_005,0.2323,-4.4552,4.5718,-0.98880,0

In [49]:
df['Class of person'].value_counts()

0    814
1    558
Name: Class of person, dtype: int64

In [50]:
df.shape

(1372, 6)

In [51]:
df.isnull().sum()

Prisoner ID                       0
Variance of responses obtained    0
Skewness of responses obtained    0
Kurtosis of responses obtained    0
Entropy of responses              0
Class of person                   0
dtype: int64

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 6 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Prisoner ID                     1372 non-null   object
 1   Variance of responses obtained  1372 non-null   float64
 2   Skewness of responses obtained  1372 non-null   float64
 3   Kurtosis of responses obtained  1372 non-null   float64
 4   Entropy of responses            1372 non-null   float64
 5   Class of person                 1372 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 64.4+ KB

In [53]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Variance of responses obtained,1372.0,0.433665,2.842766,-7.0421,-1.773000,0.49618,2.821475,6.8248
Skewness of responses obtained,1372.0,1.922353,5.869047,-13.7731,-1.708200,2.31965,6.814625,12.9516
Kurtosis of responses obtained,1372.0,1.397627,4.310030,-5.2861,-1.574975,0.61663,3.179250,17.9274
Entropy of responses,1372.0,-1.191657,2.101013,-8.5482,-2.413450,-0.58665,0.394810,2.4495
Class of person,1372.0,0.406706,0.491398,0.0000,0.000000,0.00000,1.000000,1.0000

In [54]:
df.drop('Prisoner ID',axis=1,inplace=True)

In [55]:
df.head()

,Variance of responses obtained,Skewness of responses obtained,Kurtosis of responses obtained,Entropy of responses,Class of person
0,3.6216,8.6661,-2.8073,-0.44699,0
1,4.5459,8.1674,-2.4586,-1.46210,0
2,3.8660,-2.6383,1.9242,0.10645,0
3,3.4566,9.5228,-4.0112,-3.59440,0
4,0.2323,-4.4552,4.5718,-0.98880,0

In [27]:
X = df.drop('Class of person',axis=1)
Y = df['Class of person']

In [56]:
model = LogisticRegression(max_iter=1000)
model.fit(X, Y)
y_predict = model.predict(X)

In [57]:
model_score = model.score(X, Y)
print('Accuracy Score is ',model_score)

Accuracy Score is  0.8411078717201166

In [58]:
print('Confusion Matrix','\n',metrics.confusion_matrix(Y, y_predict),'\n')
print('Classification Report','\n',metrics.classification_report(Y, y_predict))

Confusion Matrix
 [[674 140]
 [ 78 480]]

Classification Report
               precision    recall  f1-score   support

           0       0.90      0.83      0.86       814
           1       0.77      0.86      0.81       558

    accuracy                           0.84      1372
   macro avg       0.84      0.84      0.84      1372
weighted avg       0.85      0.84      0.84      1372

In [60]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve

In [63]:
y_pred_proba = model.predict_proba(X)[::,1]

#calculate AUC of model
auc = metrics.roc_auc_score(Y, y_pred_proba)

#print AUC score
print(auc)

0.8517245251116219