## Problem Statement - GDP and For Loop

## GDP

In [1]:

import pandas as pd  ###Software library written for the Python programming language for data manipulation and analysis.
import numpy as np ### fundamental package for scientific computing with Python
import os ### using operating system dependent functionality

# Set the working directory

In [2]:
os.chdir('C:\\GL Class\DSBA - Python\Introduction to Analytics\Week 1')

# Import Excel file

Load the Data file into Python DataFrame using pandas read_excel method

The csv that we are going to load contains the unicode format data. We will use an additional encoding parameter which will allow pandas to load the csv.

In [3]:
data_df = pd.read_excel("World GDP Dataset.xlsx")

# View Top 10 rows

head function is used to view the top records. The number records to be view need to be  given in the parenthesis.

In [4]:
data_df.head(10)

,S.No,Country,Population,Yearly Change,Land Area(Km2),Population Density (P/Km2),Migrants Net (last year),Median Age,Urban Population %,World Share in Population%,GDP (in $ Billions ),GDP per Capita(in $ Thousands),Share of World GDP(in %)
0,1,China,1421021791,0.0039,9388211,151.362362,-348399,38,0.61,0.1847,12238.0,8.612113,0.1512
1,2,India,1338676785,0.0099,2973190,450.249323,-532687,28,0.35,0.1770,2651.0,1.980314,0.0328
2,3,United States,325084756,0.0059,9147420,35.538409,954806,38,0.83,0.0425,19485.0,59.938215,0.2408
3,4,Indonesia,264650963,0.0107,1811570,146.089283,-98955,30,0.56,0.0351,1015.0,3.835240,0.0125
4,5,Pakistan,207906209,0.0200,770880,269.699835,-233379,23,0.35,0.0283,305.0,1.467008,0.0038
5,6,Brazil,207833823,0.0072,8358140,24.866038,21200,33,0.88,0.0273,2054.0,9.882896,0.0254
6,7,Nigeria,190873244,0.0258,910770,209.573486,-60000,18,0.52,0.0264,376.0,1.969894,0.0046
7,8,Bangladesh,159685424,0.0101,130170,1226.745210,-369501,28,0.39,0.0211,250.0,1.565578,0.0031
8,9,Russia,145530082,0.0004,16376870,8.886318,182456,40,0.74,0.0187,1578.0,10.843119,0.0195
9,10,Mexico,127502725,0.0106,1943950,65.589508,-60000,29,0.84,0.0165,1151.0,9.027258,0.0142

In [5]:
data_df_val= data_df.loc[data_df["Country"]== "Mexico"]['GDP (in $ Billions )'].values[0]
data_df_val

1151.0

In [6]:
new_subset= data_df[data_df["GDP (in $ Billions )"]> data_df_val]
new_subset.size

182

## Compare the array values in a for loop

In [14]:
arr = [10, 324, 45, 90, 9808]

In [12]:
max=arr[0] ## Initialize a max variable with the first element in an array
max

10

In [15]:
n = len(arr)
n

5

In [ ]:
 for i in range(1, n):
        if arr[i] > max:
            max = arr[i]

In [11]:
print(max)

9808