Q1.Check the data types of the below variables:
a=50, b=10.4, c="Hello"

In [1]:
a=50
b=10.4
c="Hello"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

Q2.Check whether the given string is in Upper case?

String - " My Name is Adam"

In [6]:
String1="MY"
String1.isupper()

True

Q3.What is the length of the given string?

String- "My Name is Adam"

In [8]:
String1="My Name is Adam"
print(len(String1))

15

Q4.Write a code (using "for" loop) to print the sum of all elements in the list = [6, 5, 3, 8, 4, 2, 5, 4, 11, 43]?

In [9]:
a=0
list = [6, 5, 3, 8, 4, 2, 5, 4, 11, 43]
for i in list:
    a=a+i
print(a)

91

Q5. Write a python code( using only while loop) which will only print the even numbers from 2 to 12.

SyntaxError: invalid syntax (<ipython-input-15-f3d8d087bfd6>, line 1)

Q6.Write a python code( using the combination of if statement and while loop) which will only print the even numbers from 2 to 12.

In [18]:
i=2
while i<12:
    if i%2==0:
        print(i)
    i=i+1

2
4
6
8
10
12

Q7.Write a code( using if-else statement), which will print the minimum of the below given numbers.
x=50,y=30,z=40

In [24]:
i = 1
while i < 6:
  if i%2==0:
    print(i)
  i += 1

2
4